.navbar{
  margin-bottom: 0px;
}

.nav li {
  font-size: 1.2em;
  padding-top: 1em;
}

.row{
  margin-right: 0px;
}

#myCarousel .item .carousel-caption {
/*  position: inherit;
  background: inherit;
*/}

#myCarousel .carousel-inner {
	height: 100%;
}

#myCarousel .container.caption {
  border-top: 4px solid #3498db;
  /*width: 100%;*/
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(127,127,127,0.99) 1%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(1%,rgba(127,127,127,0.99)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(127,127,127,0.99) 1%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(127,127,127,0.99) 1%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(127,127,127,0.99) 1%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(127,127,127,0.99) 1%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#storyCarousel img {
	height: inherit;
	min-width: 0px;
	float: left;
	/*width: 0%;*/
}

#storyCarousel {
	height: 100%;
}

#storyCarousel .carousel-inner {
	height: 100%;
	color: white;
	text-align: left;
	width: inherit;
}

#storyCarousel .item-content {
  height: 220px;
  padding-top: 1em; 
  text-align: center;
}

#storyCarousel .carousel-indicators {
  padding-left: 3em;
  top: 200px;
}

.modal {
	background-color: white;
	color: black;
}

#storyCarousel .carousel-caption {
	background-color: transparent;
	display: inline;
	position: relative;
	height: 100%;
}

.footer {
	color: white;
}


/*responsive video embed: http://designers.hubspot.com/docs/snippets/responsive/how-to-make-a-youtube-or-other-iframe-video-responsive*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}