!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /[if IE]
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">``
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:charset => "UTF-8"}/
    %title Fulbright Greece: Generation Study Abroad
    %meta{:content => "noindex,follow", :name => "robots"}/
    %meta{:content => "WordPress 4.1-alpha", :name => "generator"}/
    :css
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
    %link{:href => "/css/4_font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/9_carousel.css", :rel => "stylesheet"}/
    %link{:href => "/css/1_font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "/css/3_font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "/css/0_style.css", :rel => "stylesheet"}/
    %link{:href => "/css/2_font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/5_bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/overrides.css", :rel => "stylesheet"}/
    %link{:href => "/css/ng-table.css", :rel => "stylesheet"}/
    %script{:src => "/js/0_jquery.js"}
    %script{:src => "/js/1_jquery-migrate.min.js"}
    %script{:src => "/js/2_menu.js"}
    %script{:src => "/js/3_bootstrap.min.js"}
    %script{:src => "/js/4_docs.min.js"}
    %script{:src => "/js/angular.min.js"}
    %script{:src => "/js/ng-table.js"}
    %script{:src => "/js/university_list.js"}
    %script{:src => "/js/passport_list.js"}
  %body.home.blog
    #menu_wrapper
      .top_wrapper
        %header#header
          .row
            %nav.navbar.navbar-default{:role => "navigation"}
              .container-fluid
                .navbar-header
                  %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                  %a.navbar-brand{:href => "/", :title => "Study Abroad Greece"}
                    %img{:src => "images/fulbright_greece_logo.jpg", :style => "height:55px; width:150px;"}/
                .col-md-3.col-sm-3
                .col-md-9.col-sm-9
                  .navbar-collapse.collapse
                    %ul.nav.navbar-nav
                      %li
                        %a{:href => "http://www.iie.org/Programs/Generation-Study-Abroad", target: "_blank"} Generation Study Abroad
                      %li
                        %a.scroll-to{:href => "#fulbright-in-greece"} Fulbright Foundation in Greece
                      %li
                        %a.scroll-to{:href => "#why-greece"} Why Greece?
                      %li
                        %a.scroll-to{:href => "#student-stories"} Student Stories
                      %li
                        %a.scroll-to{:href => "#universities"} Universities
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      .carousel-inner
        .item.active
          %img.img-responsive{:alt => "First slide", :src => "images/fulbright-education-quote.jpg"}
          .container.caption
            .carousel-caption
              %h1 Study abroad in Greece
              %p See our partner universities
              %p
                %a.btn.btn-lg.btn-primary.scroll-to{:href => "#universities", :role => "button"} Read More
        .item
          %img.img-responsive{:alt => "Second slide", :src => "images/fulbright-people-sitting.jpg"}/
          .container.caption
            .carousel-caption
              %h1 Why study in Greece...
              %p Rich culture, diverse academics, supportive institutions
              %p
                %a.btn.btn-lg.btn-primary.scroll-to{:href => "#why-greece", :role => "button"} Read More
        .item
          %img.img-responsive{:alt => "Third slide", :src => "images/fulbright-sitting-in-circle.jpg"}/
          .container.caption
            .carousel-caption
              %h1 Student stories
              %p Hear first hand from students who have studied in Greece
              %p
                %a.btn.btn-lg.btn-primary.scroll-to{:href => "#student-stories", :role => "button"} Hear Student Stories
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
          
    / /.carousel
    .content-wrapper
      .body-wrapper
        .container.generation-study-abroad
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#generation-study-abroad Generation Study Abroad
                  %h3 Travelling is dooooppppeee
          .space-sep60
          .row
            .col-md-6.col-sm-6
              %p 
                %em 
                  About Generation Study Abroad
              %p 
                Building on its nearly 100-year commitment to study abroad, IIE launched Generation Study Abroad because the 
                number and proportion of today’s students who graduate with an educational experience abroad is far too low. 
                Currently, fewer than 10 percent of all U.S. college students study abroad at some point in their academic career. 
                According to the Open Doors Report on International and Educational Exchange released by IIE last November 
                with support from the U.S. Department of State’s Bureau of Educational and Cultural Affairs, 295,000 students 
                studied abroad in 2011/12 in credit-bearing and non-credit programs. 
              %p
                Generation Study Abroad aims to grow 
                participation in study abroad so that the annual total reported will reach 600,000 by the end of the decade. IIE 
                will lead the Generation Study Abroad coalition in creating an ongoing dialogue about the need for students to 
                gain international experience. This will include research to identify and break down barriers hindering students 
                from studying abroad, communications to share strategies and best practices, and fundraising to mobilize 
                additional financial resources. In addition to significantly expanding study abroad, the campaign will track 
                campus activities that expand diversity in race and ethnicity, academic disciplines and gender. Visit the 
                Generation Study Abroad website for details on how to Join the Campaign.

            .col-md-6.col-sm-6
              %iframe( width="400" height="225" src="//www.youtube.com/embed/1Ai1KB8XSUU?rel=0&amp;controls=0" frameborder="0" allowfullscreen)
        
        .space-sep60        

        .container.fulbright-in-greece
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#fulbright-in-greece Fulbright in Greece
                  %h3 Dedicated to supporting the Generation Study Abroad initiative
          .space-sep60
          .row
            .col-md-6.col-sm-6
              %p 
                %em 
                  The Fulbright Foundation in Greece is excited to be aiding in the 
                  %a{href: 'http://www.iie.org/Programs/Generation-Study-Abroad'} Generation Study Abroad 
                  effort by providing a consildated resource for American students looking to study in Greece. 
              %p The Fulbright Foundation in Greece takes pride in being the oldest Fulbright Program in Europe and the second-oldest continuously operating Fulbright Program in the world. 
              %p Since the Program's beginning in 1948, the Fulbright Foundation in Greece has awarded more than 4,700 grants to Greeks and Americans and has offered free advising services for studies in the United States to thousands of individuals. 
              %p Fulbright alumni include Nobel and Pulitzer Prize winners, prime ministers and heads of state, professors and scientists, ambassadors and artists, Supreme Court Justices and company presidents.

            .col-md-6.col-sm-6
              %video{:controls => "", :width => "400"}
                %source{:src => "https://s3-us-west-2.amazonaws.com/fulbright-greece-gst/fulbright_vid.mp4", :type => "video/mp4"}
                Your browser does not support HTML5 video.
        
        .space-sep60        
        .container
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#why-greece Why Greece?
                  %h3 Greece is like no other place in the world to study. 
                .space-sep20
          .row
            .col-md-4.col-sm-4
              .feature.animated.fadeIn.animatedVisi{"data-animdelay" => "0.0s", "data-animrepeat" => "0", "data-animspeed" => "1s", "data-animtype" => "fadeIn", :style => "animation-delay: 0s; animation-duration: 1s;"}
                .feature-image.img-overlay
                  / <img alt="" src="media/blog3.jpg">
                  %img.img-responsive.wp-post-image{:alt => "acropolis-museum-gallery-1280x720", :height => "165", :src => "images/gallery_acropolis.jpg", :width => "293"}/
                  .item-img-overlay
                    .item_img_overlay_content
                      %a(title="Acropolis museum" data-rel="prettyPhoto[portfolio]" href="http://www.theacropolismuseum.gr/en" class="portfolio-zoom icon-resize-full")

                .feature-content
                  %h3.h3-blog-title
                    %a{:href => "images/gallery_acropolis.jpg"} Historical Access
                  %p
                    Greece offers unique opportunities to future historians, archeologists and students of the classics with its many historical sites, museums and academic insititutions
            
            .col-md-4.col-sm-4
              .feature.animated.fadeIn.animatedVisi{"data-animdelay" => "0.0s", "data-animrepeat" => "0", "data-animspeed" => "1s", "data-animtype" => "fadeIn", :style => "animation-delay: 0s; animation-duration: 1s;"}
                .feature-image.img-overlay
                  / <img alt="" src="media/blog3.jpg">
                  %img.img-responsive.wp-post-image{:alt => "acropolis-museum-gallery-1280x720", :height => "165", :src => "images/folk_culture.jpg", :width => "293"}/
                  .item-img-overlay
                    .item_img_overlay_content
                      %a(title="Acropolis museum" data-rel="prettyPhoto[portfolio]" href="http://www.nytimes.com/2014/09/28/magazine/hunting-for-the-source-of-the-worlds-most-beguiling-folk-music.html?rref=magazine&_r=1" class="portfolio-zoom icon-resize-full")

                .feature-content
                  %h3.h3-blog-title
                    %a{:href => "images/folk_culture.jpg"} Unique Culture
                  %p
                    %a{href: 'cultural_calendar.pdf'} Click here to see a cultural calendar for Greece
                  %p Greece offers unique opportunities to future historians, archeologists and students of the classics with its many historical sites, museums and academic insititutions
            
            .col-md-4.col-sm-4
              .feature.animated.fadeIn.animatedVisi{"data-animdelay" => "0.0s", "data-animrepeat" => "0", "data-animspeed" => "1s", "data-animtype" => "fadeIn", :style => "animation-delay: 0s; animation-duration: 1s;"}
                .feature-image.img-overlay
                  / <img alt="" src="media/blog3.jpg">
                  %img.img-responsive.wp-post-image{:alt => "acropolis-museum-gallery-1280x720", :height => "165", :src => "images/science_stuff.jpg", :width => "293"}/
                  .item-img-overlay
                    .item_img_overlay_content
                      %a(title="Acropolis museum" data-rel="prettyPhoto[portfolio]" href="http://www.nytimes.com/2014/09/28/magazine/hunting-for-the-source-of-the-worlds-most-beguiling-folk-music.html?rref=magazine&_r=1" class="portfolio-zoom icon-resize-full")

                .feature-content
                  %h3.h3-blog-title
                    %a{:href => "images/gallery_acropolis.jpg"} State of the Art Facilities
                  %p
                    Greece offers unique opportunities to future historians, archeologists and students of the classics with its many historical sites, museums and academic insititutions

        .space-sep60        
        .container
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#student-stories Student Stories
                  %h3 Hear why Greece offers a rich and unique study abroad experience
                .space-sep20
          .row
            .col-md-6.col-sm-6
              %iframe(src="//player.vimeo.com/video/101688795" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
            .col-md-6.col-sm-6
              %iframe(src="//player.vimeo.com/video/101688587" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
        
        .space-sep60        
      .angular-container{'ng-app' => 'universityList'}
        .container
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#universities Academic Programs 
                  %h3 These programs are offered by Greek universities for international students
            .space-sep60
            .controller{'ng-controller' => 'UniversitiesController'}
              %table.table#university-list{'ng-table' => 'tableParams', 'template-pagination'=>"custom/pager", 'show-filter' => 'true'}
                %tr{'ng-repeat' => 'university in $data'}
                  %td{'data-title' => "'Institution'", sortable: "'HEI'", 'filter' => "{'HEI': 'text'}"}
                    {{university.HEI}}
                  %td{'data-title' => "'Program'", 'filter' => "{'TITLE OF THE PROGRAM': 'text'}"}
                    .program-name{'ng-if' => "!isLink(university['TITLE OF THE PROGRAM'])"}
                      {{university['TITLE OF THE PROGRAM']}}
                    .program-name{'ng-if' => "isLink(university['TITLE OF THE PROGRAM'])"}
                      %a{href: "{{university['TITLE OF THE PROGRAM'].href}}", 'style' => 'color: blue'}
                        {{university['TITLE OF THE PROGRAM'].text}}
                  %td{'data-title' => "'Department'", 'filter' => "{'SCHOOL': 'text'}"}
                    .department-name{'ng-if' => "!isLink(university['SCHOOL'])"}
                      {{university['SCHOOL']}}
                    .department-name{'ng-if' => "isLink(university['SCHOOL'])"}
                      %a{href: "{{university['SCHOOL'].href}}", 'style' => 'color: blue'}
                        {{university['SCHOOL'].text}}
                  %td{'data-title' => "'Fees'", sortable: "'FEES'", 'filter' => "{'FEES': 'text'}"}
                    .fees
                      {{university['FEES']}}
        .container
          .row
            .col-md-12.col-sm-12
              .center-title
                .heading-title
                  %h2.h2-section-title#passport_programs Programs Offered by IIE 
                  %h3 IIE sponsors the following programs in Greece
            .space-sep60
            .controller{'ng-controller' => 'PassportProgramsController'}
              %table.table#program-list{'ng-table' => 'tableParams', 'template-pagination'=>"custom/pager"}
                %tr{'ng-repeat' => 'program in $data'}
                  %td{'data-title' => "'Program'", sortable: "'Program'", 'filter' => "{'Program': 'text'}"}
                    .program
                      {{program['Program']}}
                  %td{'data-title' => "'Sponsor'", sortable: "'Sponsor'", 'filter' => "{'Sponsor': 'text'}"}
                    .sponsor
                      {{program['Sponsor']}}
                  %td{'data-title' => "'FullPathName'", sortable: "'FullPathName'", 'filter' => "{'FullPathName': 'text'}"}
                    .location
                      {{program['FullPathName']}}


                %script{:id => "custom/pager", :type => "text/ng-template"}
                  %ul.pager.ng-cloak
                    %li{"ng-class" => "{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}", "ng-repeat" => "page in pages", "ng-show" => "page.type == 'prev' || page.type == 'next'", "ng-switch" => "page.type"}
                      %a{:href => "", "ng-click" => "params.page(page.number)", "ng-switch-when" => "prev"} « Previous
                      %a{:href => "", "ng-click" => "params.page(page.number)", "ng-switch-when" => "next"} Next »
                    %li
                      .btn-group
                        %button.btn.btn-default{"ng-class" => "{'active':params.count() == 10}", "ng-click" => "params.count(10)", :type => "button"} 10
                        %button.btn.btn-default{"ng-class" => "{'active':params.count() == 25}", "ng-click" => "params.count(25)", :type => "button"} 25
                        %button.btn.btn-default{"ng-class" => "{'active':params.count() == 50}", "ng-click" => "params.count(50)", :type => "button"} 50
                        %button.btn.btn-default{"ng-class" => "{'active':params.count() == 100}", "ng-click" => "params.count(100)", :type => "button"} 100
                      .space-sep60        






    %footer
      .footer
        .container
          .footer-wrapper
            .row
              / Footer Col.
              .col-md-4.col-sm-4.footer-col
                .footer-content
                  .footer-content-logo
                    %img{:alt => "", :src => "images/fulbright_greece_logo.jpg"}/
              .col-md-4.col-sm-4.footer-col
                .footer-title
                  Contact Us
                .footer-content
                  %ul.contact-info
                    %li
                      .contact-title
                        %i.icon-map-marker>
                        Address
                      .contact-details 6 Vassilissis Sophias Avenue, 1st floor 106 74 Athens
                    %li
                      .contact-title
                        phone
                      .contact-details 123-345-6666
                    %li
                      .contact-title
                        eMail
                      .contact-details
                        %a{:href => "mailto:info@fulbright.gr"} info@fulbright.gr
                    %li
                      .contact-title
                        Website
                      .contact-details
                        %a{:href => "http://www.fulbright.gr/index_en.html"} http://www.fulbright.gr/
              .col-md-4.col-sm-4.footer-col
                %h3 Get In Touch
                %form{:action => "http://getsimpleform.com/messages?form_api_token=a1df72acb21cceec43221cbfb99bed31", :method => "post"}
                  .row
                    %input#name{:name => "name", :placeholder => "Name", :type => "text"}/
                    %input#email{:name => "email", :placeholder => "Email", :type => "email"}/
                    %textarea#message{:name => "message", :placeholder => "Message", :rows => "5"}
                    %input.button.alt{:type => "submit", :value => "Send Message"}/

              / //Footer Col.//
              / Footer Col.

